.container{
    position: relative;
    border-radius: 10px;
    width: 260px;
    height: 390px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 4px 9px #333;
    cursor: pointer;

    &:hover{
        box-shadow: 4px 4px 9px rgb(19, 19, 19);
    }
    & > img{
        top: 0;
        left: 0;
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
    .content{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        z-index: 1;
        div:nth-child(1){
            height: 25%;
            width: 100%;
            border-radius: 10px;
            background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4430147058823529) 75%, rgba(255,255,255,0.7147233893557423) 100%);        }
        div:nth-child(2){
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 40%;
            width: 100%;
            border-radius: 10px;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5214460784313726) 24%, rgba(0,0,0,0.8435749299719888) 77%);
            & > h1{
                color:rgb(255,255,255);
                font-weight: 500;
                padding-left: 15px;
                font-size: 25px;
            }
            h2{
                color:rgb(255,255,255);
                font-size: 18px;
                font-weight: 200;
                padding-left: 15px;
                
            }
            div{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                img{
                    width: 100px;
                    height: 100%;
                    padding-left: 10px;
                }
                & > h1{
                    align-self: end;
                    font-size: 25px;
                    font-weight: 300;
                    padding-right: 10px;
                    color:rgb(255,255,255);
                    
                }
            }
        }
    }
}