.container{
    .menu{
        background: rgb(240, 240, 240);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 120px;
        width: 100%;
        position: fixed;
        z-index: 1000;
        h1{
            font-family: sans-serif;
        }

        input{
            width: 250px;
            height: 50px;
            padding: 10px;
        }
    }

    .cards{
        padding-top: 120px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}